
<nav class="w-full h-[15%] flex items-center justify-between bg-[#270858] text-white px-20 ">
   <h1 class="text-xl font-semibold">Blog Website</h1>
    <div class="atags flex gap-8">
        <a href="/">HOME</a>
        <a href="/createBlog">Create Blog</a>
        <a href="/profile">Profile</a>
        
    </div>
    <div class=" login-singup">
        <a class="bg-red-400 px-4 py-2 rounded" href="/login">Log In</a>
        <a class="bg-orange-400 px-4 py-2 rounded" href="/register">Sign Up</a>

    </div>
</nav>



